# Ignore environment files
.env

# Ignore Laravel vendor & storage
/vendor
/node_modules
/storage
/public/storage
/bootstrap/cache

# Ignore IDE/editor-specific files
.vscode
.idea
.DS_Store

#ignore lock files
composer.lock
package-lock.json 